body {
	font-size: 14px;
	background: #e4e4f4;
}

#document {
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 20px;
	background: #000049;
	padding: 10px;
}

#notice {
	color: #ea0000;
}

h1 {
	padding-top: 15px;
	color: #000049;
	text-align: center;
	height: 45px;
}

h2 {
	color: #000049;
	text-align: center;
}

h3 {
	color: #302c83;
}

section li {
	color: white;
}

header {
	background: url('banner.png') no-repeat;
	background-color: #7699d9;
	border-radius: 15px 15px 0px 0px;
	margin: -15px 5px 0px 5px;
	padding-bottom: 5px;
}

header li {
	float: left;
	padding: 10px;
	margin: -20px 35px 0px -45px;
}

header p
{
	background: #000049;
	color: #797979;
	text-align: right;
	float: right;
	padding: 2px 2px 2px 8px;
	border-radius: 0px 0px 0px 10px;
	margin-top: -10px;
}

header li a {
	color: white;
	font-weight: bold;
	background-color: #000049;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	border-top: 1px solid black;
}

header li a:hover {
	color: yellow;
	font-weight: bold;
}

section {
	background-color: #c4c4f8;
	padding: 5px;
	margin: 15px 5px 5px 5px;
	border-radius: 0px 0px 15px 15px;
}

section li {
	color: black;
}

#form_index
{
	margin-left: 30%;
}

#form_index p label {
	width: 110px;
	float: left;
}

#form_login
{
	margin-left: 30%;
}

#form_login p label {
	width: 110px;
	float: left;
}

ul {
	list-style-type: none;
}

footer {
	text-align: center;
	
}

footer a
{
	color: white;
}

footer a:hover
{
	color: yellow;
}
