body {
	font-size: 14px;
	background: #ededed;
}

#document {
	width: 900px;
	margin: 0 auto;
	border-radius: 5px;
	background: white;
	padding: 10px;
}

#notice {
	color: #ea0000;
}

h1 {
	color: #302c83;
}

h2 {
	color: #832c2c;
}

h3 {
	color: #bd1f1f;
}

section li {
	color: white;
}

header {
	background-color: #7699d9;
	padding: 5px;
	margin: 5px;
}

header li {
	display: inline;
	padding: 10px;
}

header li a {
	color: white;
	font-weight: bold;
}

header li a:hover {
	color: yellow;
	font-weight: bold;
}

section {
	background-color: #edadad;
	padding: 5px;
	margin: 5px;
}

#form_index p label {
	width: 110px;
	float: left;
}

#form_login p label {
	width: 180px;
	float: left;
}

ul {
	list-style-type: none;
}

footer {
	text-align: center;
}